.init-container {
    height: 100%;

    .title {
        font-size: 18px;
        color: #202d40;
        margin-bottom: 15px;
    }

    .intro {
        font-size: 14px;
        color: #76808e;
        text-align: center;
        margin-bottom: 30px;
        line-height: 20px;
    }
}
