.refresh-container {
    display: flex;
    font-size: 12px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 14px;

    .time,
    .btn {
        flex: 1 1 auto;
    }

    .btn {
        text-align: right;
    }
}
